/* :root{
    --first-background:#6071B6 ;
    --white:#fff;
    --border:#E9ECEF ;
    --text-on-whitebg: #51619e;
    --black-shadow: #0c1021;
    --background-card: #eff0f8;
    --san-marino-100: #d9dced;
    --san-marino-200: #b6bdde;
    --san-marino-300: #98a1d1;
    --san-marino-400: #7b88c4;
    --san-marino-700: #3f4b7d;
    --san-marino-800: #2b3459;
    --san-marino-900: #161c34;
    --border-radius-1:18px;
} */

header h6,#action{
    color: var(--first-background);
}

header{
    margin-bottom: 3rem;
}
#action{
 margin-top: 2rem;
    margin-bottom: 2rem;
}